.DirRecursive {
    line-height: 2;
}

.DirRecursive.is-candidate {
    border-left: 1px dotted var(--vscode-dropdown-border);
}

.DirRecursive.is-subgoal {
    border-left: 1.5px solid var(--vscode-descriptionForeground);
}

.DirRecursive.generic-edge {
    border-left: 1px solid var(--vscode-widget-border);
}

.Collapsible {
    height: auto;
}

.Collapsible.indent {
    padding-left: 0.5em;
}

.Collapsible.collapsed {
    height: 0;
    overflow: hidden;
}

.DirNode {
    font-family: Menlo, Monaco, "Courier New", monospace;
    display: flex;
    flex-direction: row;
    gap: 1.00em;
}

.DirNode > .toggle {
    display: inline-block;
    width: 10px;
}

.DirNode > .toggle > .codicon {
    font-size: 10px;
}

.information > pre {
    margin-top: 0;
}

.information::before {
    content: ' ';
}