.DirRecursive {
    line-height: 2;
}

.DirRecursive.is-candidate {
    border-left: 1px dotted #ccc;
}

.DirRecursive.is-subgoal {
    border-left: 1.5px solid #aaa;
}

.Collapsible {
    height: auto;
}

.Collapsible.indent {
    padding-left: 1em;
}

.Collapsible.collapsed {
    height: 0;
    overflow: hidden;
}

.DirNode {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.DirNode > .toggle {
    display: inline-block;
    width: 12px;
}

.DirNode > .toggle > .codicon {
    font-size: 12px;
}

.information::before {
    content: ' ';
}