.DirRecursive.is-candidate {
    border-left: 1px dotted var(--vscode-dropdown-border);
}

.DirRecursive.is-subgoal {
    border-left: 1.5px solid var(--vscode-descriptionForeground);
}

.DirRecursive.generic-edge {
    border-left: 1px solid var(--vscode-widget-border);
}

.DirNodeChildren {
    height: auto;
}

.DirNodeChildren.indent {
    padding-left: 15px;
}

.DirNodeChildren.collapsed {
    height: 0;
    overflow: hidden;
}

.DirNode {
    font-family: Menlo, Monaco, "Courier New", monospace;
    display: flex;
    flex-direction: column;    
    gap: 10px;
}

.DirNode.WhereConstraintArea {
    flex-direction: column;    
}

.DirNodeLabel {
    display: flex;    
}

.DirNodeLabel > .toggle {
    cursor: pointer;
}

.DirNodeLabel > .toggle .codicon {
    font-size: 10px;
}

.DirNodeLabel > .label .codicon {
    font-size: 14px;
    margin-right: 3px;
}

.DirNodeLabel > .label > pre {
    margin-top: 0;
}

.DirNodeLabel > .label::before {
    content: ' ';
}