.TreeArea {
    width: 100%;
    height: 100vh;
    grid-area: tree-interact;
}

span.foreign-wrapper {
    width: fit-content;
    min-width: 50px;
}

rect, circle {
    fill: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    stroke: var(--vscode-dropdown-border);
    stroke-width: 1.5px;
}

rect {
    stroke-linejoin: round;
}

.rd3t-link.edge__candidate-to-goal, .rd3t-link.edge__goal-to-candidate {
    stroke-width: 1.5px;
    stroke: var(--vscode-dropdown-foreground);
}

.rd3t-link.edge__goal-to-candidate {
    stroke-dasharray: 20,10,5,5,5,10;
}