.FailingSet {
    position: relative;
    margin-bottom: 0.25em;

    transition: all 0.25s ease;
}

.FailingSet.is-hovered {
    border: 2px dashed var(--vscode-focusBorder);
    padding: 0.25em;
}

.FailingSet > i {
    position: absolute;
    top: 0;
    right: 0;

    font-size: 0.25em;
}