.tree-toggle {
    padding: 0.25em;
}

.tree-toggle:hover {
    color: var(--vscode-input-placeholderForeground);
}

.floating-graph {
    box-shadow: 0 0 5px 0 var(--vscode-focusBorder);
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
}