.tree-toggle {
    padding: 0.25em;
}

.tree-toggle:hover {
    cursor: pointer;
    color: var(--vscode-input-placeholderForeground);
}

.floating-graph {
    max-height: 70vh;
    max-width: 80%;
    overflow: scroll;
    box-shadow: 0 0 5px 0 var(--vscode-focusBorder);
}

.ImplCandidatesPanel {
    padding: 1em;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.WrapperBox {
    /* display: none; */
    display: inline;
    opacity: 0.20;
    padding-left: 0.5em;
}

.WrapperBox.is-hovered {
    /* display: inline; */
    opacity: 100;
}

.WrapperBox i.codicon {
    /* Removes the inline-block default that causes the 
       icons to overflow the bounding box of the proof node labels 

       TODO: why is this default necessary for the codicons, and how 
       come it breaks our bounding box here? CSS is a mystery.
    */
    display: inline;
}

.WrapperBox i:hover {
    cursor: pointer;
    color: var(--vscode-input-placeholderForeground);
}