.tree-toggle {
    padding: 0.25em;
}

.tree-toggle:hover {
    cursor: pointer;
    color: var(--vscode-input-placeholderForeground);
}

.floating-graph {
    box-shadow: 0 0 5px 0 var(--vscode-focusBorder);
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
}

.ImplCandidatesPanel {
    padding: 0.5em;
}

.ImplCandidatesPanel > div {
    margin-bottom: 1em;
}

.WrapperBox {
    display: none;
    padding-left: 0.5em;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.25em;
}

.WrapperBox.is-hovered {
    display: inline-flex;
}

.WrapperBox i:hover {
    cursor: pointer;
    color: var(--vscode-input-placeholderForeground);
}