.ObligationCard {
    font-family: monospace;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* .ObligationCard.success {
    border-color: rgba(111, 194, 118, 0.25);
} */

/* .ObligationCard.failure {
    border-color: rgba(244, 113, 116, 0.25);
} */

.ObligationButton {
    cursor: pointer;
}

/* yeah...this still doesn't work */
.ObligationCard > *,
.ObligationCard > vscode-text-area,
.ObligationCard > vscode-text-area:hover,
.ObligationCard > .label {
    cursor: default;
}