.PrintError {
    background: #FF6961;
    color: white;
    font-weight: bold;
    overflow-y: scroll;
}

.DefPathContainer {
    position: relative;
    display: inline-block;
}

.DefPathContainer .DefPathShort {
    max-width: 250px;
    transition: max-width 1s ease-out;
}

.DefPathContainer .DefPathFull {
    max-width: 0;
    display: none;
    transition: max-width 1s ease-in;
}

.DefPathContainer:hover .DefPathFull {
    max-width: 250px;
    display: inline-block;
}

.DefPathContainer:hover .DefPathShort {
    max-width: 0;
    display: none;
}