.PrintError {
    background: #FF6961;
    color: white;
    font-weight: bold;
    overflow-y: scroll;
    padding: 1em;
}

.DefPathContainer {
    display: inline-block;
}

.ImplFallback > h1 {
    font-size: 0.5em;
    font-style: italic;
}