#root {
    font-size: var(--vscode-editor-font-size);
}

.app-nav {
    /* make the navbar as big as the page and cover other content */
    width: 100%;
    z-index: 1;
    background-color: var(--background);

    /* push things to the right */
    text-align: right;

    /* sticky to the top-right corner of the argus window */
    position: fixed; 
    top: 0; 
    right: 0;

    /* Some breathing room. Make sure the `spacer` has the same value. */
    margin-bottom: 0.25em;
}

.DefinitionWrapper.hovered.meta-pressed {
    color: var(--vscode-editorLink-activeForeground);
    text-decoration: underline;
}