.DirRecursive {
    line-height: 2;
    padding-left: 0.5em;
}

.DirRecursive.is-candidate {
    border-left: 1px dotted #ccc;
}

.DirRecursive.is-subgoal {
    border-left: 1.5px solid #aaa;
}

#Collapsible {
    padding-left: 1em;
    height: auto;
}

#Collapsible.collapsed {
    height: 0;
    overflow: hidden;
}

.DirNode {
    font-family: monospace;
}

.information::before {
    content: ' ';
    padding-right: 1em;
}