div {
    transition: background-color 1s ease-out, border-color 1s ease-out;
}

.ObligationCard {
    display: block;
    width: 100%;
}

span.ErrorCount {
    color: var(--vscode-editorError-foreground);
}

.NoInfoError {
    color: var(--vscode-errorForeground);
    font-weight: bold;
    overflow-y: scroll;
    padding: 1em;
}

.bling {
    background-color: var(--vscode-inputOption-activeBackground);
    border: 1px solid var(--vscode-inputValidation-errorBorder);
}

.ObligationCard > vscode-text-area {
    font-family: monospace;
    display: block;
}

.ObligationButton {
    display: block;
    cursor: pointer;
}

.PrettyObligationArea {
    font-family: monospace;
    display: block;
    padding: 0 0.15em 0.15em 0.15em;
    margin-bottom: 1em;
}

.MethodCallTable {
    border-spacing: 0.15em;
}

/* select TH elements of the MethodCallTable class */
.MethodCallTable th {
    text-align: left;
}

.MethodCallTable td {
    vertical-align: middle;
}

.MethodCallTable td.active {
    border: 2px solid var(--vscode-focusBorder);
    border-radius: 3px;
}

.MethodCallTable td:hover {
    box-shadow: 10px 10px 5px var(--vscode-dropdown-background);
}