span.ErrorCount {
    color: var(--vscode-errorForeground);
}

.NoInfoError {
    color: var(--vscode-errorForeground);
    font-weight: bold;
    overflow-y: scroll;
    padding: 1em;
}

.bling {
    background-color: var(--vscode-inputValidation-errorBackground);
    color: var(--vscode-inputValidation-errorForeground);
    border: 2px solid var(--vscode-inputValidation-errorBorder);
}