.HoverMainInfo {
  display: inline;
}

.floating {
    background-color: var(--vscode-dropdown-background);
    color: var(--vscode-dropdown-foreground);
    border: 1px solid var(--vscode-dropdown-border);
    border-radius: 4px;
    padding: 0.15em;
  }